<header>
      <nav class="navbar navbar-dark bg-primary navbar-expand-lg fixed-top">
            <a class="navbar-brand" href="/">Parking Chile</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link" href="quienesSomos">Quienes Somos</a>
                        </li>
                  </ul>
                  <span class="navbar-nav">
                        <a class="nav-link" href="login">Iniciar Sesión</a>
                        <a class="nav-link" href="register">Registrate!</a>
                  </span>
            </div>
      </nav>
</header>

<section class="register">
      <div class="container">
            <h3 class="display-6">Quienes Somos?</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
      </div>
</section>

<section class="information">
      <div class="container">
            <div class="card-deck">
                  <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="images/parked1.jpg" alt="Card image cap">
                        <div class="card-body">
                              <h3 class="card-title">Seguridad</h3>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="images/parked2.jpg" alt="Card image cap">
                        <div class="card-body">
                              <h3 class="card-title">Gana Dinero</h3>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                  </div>

                  <div class="card">
                        <img class="card-img-top" src="images/parked3.jpg" alt="Card image cap">
                        <div class="card-body">
                              <h3 class="card-title">Flexible</h3>
                              <p class="card-text">Arrienda tu estacionamiento solo cuando no lo uses! Crea horarios definidos! <br> Ej. Arriendo estacionamiento de lunes a viernes hasta las 19hrs</p>
                        </div>
                  </div>
            </div>
      </div>
</section>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
